parameters:
	ignoreErrors:
		-
			message: '#^Method PrecisionSoft\\Symfony\\Phpunit\\Container\\MockContainer\:\:getMock\(\) should return Mockery\\MockInterface&T of object but returns Mockery\\MockInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Container/MockContainer.php

		-
			message: '#^Trait PrecisionSoft\\Symfony\\Phpunit\\TestCase\\Trait\\ManagerRegistryMockTrait is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/TestCase/Trait/ManagerRegistryMockTrait.php

		-
			message: '#^Parameter \#1 \$entityName of method Doctrine\\ORM\\EntityManagerInterface\:\:getReference\(\) expects class\-string\<NonExistentClass\>, string given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php
