parameters:
	ignoreErrors:
		-
			message: '#^Method PrecisionSoft\\Symfony\\Phpunit\\Container\\MockContainer\:\:getMock\(\) should return Mockery\\MockInterface&T of object but returns Mockery\\MockInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Container/MockContainer.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\Mapping\\ClassMetadata\<stdClass\>\:\:setIdGenerator\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\Mapping\\ClassMetadata\<stdClass\>\:\:setIdGeneratorType\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:beginTransaction\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:commit\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getConnection\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:getReference\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: '#^Call to an undefined method Doctrine\\Persistence\\ObjectManager\:\:rollback\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Mock/ManagerRegistryMockTest.php
