parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:byDefault\\(\\)\\.$#"
			count: 1
			path: src/Mock/EventDispatcherInterfaceMock.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:byDefault\\(\\)\\.$#"
			count: 14
			path: src/Mock/ManagerRegistryMock.php

		-
			message: "#^Call to an undefined method Mockery\\\\ExpectationInterface\\|Mockery\\\\HigherOrderMessage\\:\\:byDefault\\(\\)\\.$#"
			count: 1
			path: src/Mock/SluggerInterfaceMock.php

		-
			message: "#^Call to an undefined method Mockery\\\\MockInterface\\:\\:dispatch\\(\\)\\.$#"
			count: 1
			path: tests/Mock/EventDispatcherInterfaceMockTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\MockInterface\\:\\:getManager\\(\\)\\.$#"
			count: 18
			path: tests/Mock/ManagerRegistryMockTest.php

		-
			message: "#^Call to an undefined method Mockery\\\\MockInterface\\:\\:slug\\(\\)\\.$#"
			count: 2
			path: tests/Mock/SluggerInterfaceMockTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:110\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:127\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:29\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:43\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:60\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:78\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

		-
			message: "#^Call to an undefined static method class@anonymous/tests/TestCase/MockContainerTraitTest\\.php\\:95\\:\\:getMockDto\\(\\)\\.$#"
			count: 1
			path: tests/TestCase/MockContainerTraitTest.php

